In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd

ModuleNotFoundError: No module named 'pymysql'

In [9]:
con = create_engine('mysql+pymysql://root:1111@localhost:3306/exam_db')
df = pd.read_sql_query('SELECT * FROM member_tb', con)
df.head()
df = pd.read_sql_query('SELECT * FROM member_tb WHERE username="user2"', con)
df.head()

  username password          phone  no
0    user2     1234  010-2222-2222   2

In [10]:
df['username']

0    user2
Name: username, dtype: object

In [11]:
con = create_engine('mysql+pymysql://root:1111@localhost:3306/test_db')
df = pd.read_sql_query('SELECT * FROM member_tb', con)
df

  username password      car
0    user1     1234  11가1111
1    user2     1234  22가2222
2    user3     1234  33가3333

In [12]:
con = create_engine('mysql+pymysql://root:1111@localhost:3306/test_db')
df = pd.read_sql_query('SELECT a.username, a.password, b.car FROM member_tb a left JOIN car_tb b ON a.username=b.username', con)
df

  username password      car
0    user1     1234  11가1111
1    user1     1234  11나1111
2    user1     1234  11다1111
3    user2     1234  22가1111
4    user3     1234  11다1111
5    user3     1234  33가3333
6    user4     1234     None